body {
    background-color: lavender;
}

h1 {
    color: purple;
}

.container {
width: 700px;
margin: auto;
background-color: rgb(184, 138, 243);
overflow: auto;
padding-right: 10px;
padding-left: 10px;
}

#main-container {
    margin: auto;
}

.header {
    background-color: rgb(255, 255, 255);
    padding-top: 5px;
    padding-bottom: 5px;
    display: grid;
    grid-template-columns: auto auto auto;
}

.header h1 {
    color: purple;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
}

.welcome {
    height: 200px;
    text-align: center;
    background-image: url("../images/welcome.jpg");
    background-position-x: 30px;
    background-position-y: -120px;
    background-repeat: no-repeat;
    overflow: auto;
}

.welcome h1 {
    margin-top: 20px;
    color: white;
    text-transform: uppercase;
    text-shadow: 2px 2px 8px #000000;
}

.entry-blog {
    width: 48%;
    float: left;
    padding: 2px;
    background-color: rgba(255, 255, 255, 0.39);
}

.entry-blog img {
    border-radius: 9%;
    width: 100%;
}

.entry-description {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
    border-style: solid;
    border-width: 2px;
    border-color: purple;
}

.grid-container {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    width: 800px;
    margin: auto;
}

.grid-item {
    border: 2px solid rgb(20, 216, 190);
    padding: 20px;
}

.header {
    grid-column-start: 1;
    grid-column-end: 3;

}

.nav {
    grid-area: 2 / 1 / span 1 / span 2;
}

.nav ul {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    list-style: none;
    margin: 0;
    padding-left: 0;
    text-align: center;
}

nav ul li {
    background-color: rgb(62, 230, 207);
    padding: 10px;
    color: #ffffff;
}

.sidebar {
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 2;
}

.footer {
    grid-area: 5 / 1 / span 1 / span 2;
}

.ad {
    grid-column-start: 1;
    grid-column-end: 3;
}