.grid-container {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    width: 800px;
    margin: auto;
}

.grid-container article {
    padding: 5px;
    background-color: rgb(184, 138, 243);
}

.header {
    grid-column-start: 1;
    grid-column-end: 3;

}

.nav {
    grid-area: 2 / 1 / span 1 / span 2;
    position: sticky;
    top: 0;
    z-index: 1;
}

.nav ul {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    list-style: none;
    margin: 0px;
    padding-left: 0;
    text-align: right;
}

nav ul li {
    padding: 10px;
    color: #050505;
}

.sidebar {
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 2;
}

.footer {
    grid-area: 5 / 1 / span 1 / span 2;
}

.footer ul {
    display: grid;
    grid-template-columns: auto auto auto;
    list-style: none;
    margin: 0;
    padding-left: 2px;
    padding-right: 2px;
}

.footer ul li {
    background-color: rgb(62, 230, 207);
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer ul li:first-child {
    padding-left: 5px;
}

.footer ul li:nth-child(2) {
    text-align: center;
}

.footer ul li:last-child {
    text-align: right;
    padding-right: 5px;
}

.grid-item {
    padding: 20px;
    width: 50px;
    color: white;
    position: absolute;
    top: 10px;
    right: 10px;
}

.ad {
    grid-column-start: 1;
    grid-column-end: 3;
}

@font-face {
    font-family: "Avenir Next Condensed";
    font-weight: normal;
    src: url('../fonts/Avenir\ Next\ Condensed.ttc') format('WOFF');
}

@font-face {
    font-family: "Avenir Next Condensed";
    font-weight: bold;
    src: url('../fonts/Avenir\ Next\ Condensed.ttc') format('WOFF');
}

body {
    background-color: #F1F8FB
}