@font-face {
    font-family: "Avenir Next";
    font-weight: bold;
    src: url('../fonts/Avenir\ Next.ttc') format('WOFF');
}
@font-face {
    font-family: "Avenir Next";
    font-weight: normal;
    src: url('../fonts/AvenirNext LTPro/AvenirNextLTPro-Medium.otf') format('WOFF');
}

body {
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #F1F8FB;
    font-family: "Avenir Next";
    color: #A9A9A9;
}

.header {
    display: grid;
    grid-template-columns: 180px auto 38px;
    margin-bottom: 80px;
}

.logo {
    font-size: 30px;
}

.logo .digital {
    color: #000000;
}

.logo .blend {
    color: #D2AC58;
}

section {
    display: grid;
    grid-template-columns: 50% 50%;
}

.left-content {
    text-align: left;
}
.right-content {
    text-align: right;
}

.video {
    display: grid;
    grid-template-columns: 56px auto;
}

.play-text{
    margin-left: 23px;
    margin-top: 20px;
}

button {
    background-color: #489BFF;
    color: #ffffff;
    width: 160px;
    height: 48px;
    border-radius: 50px;
}

.nav ul {
    display: grid;
    grid-template-columns: auto auto auto auto;
    list-style: none;
    margin: 0px;
    padding-left: 0;
    text-align: right;
}

nav ul li {
    text-align: center;
}
